* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
}

.box {
	padding: 80px 20px;
	background-color: #222;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 140, 255, 0.6);
}

.link {
	position: relative;
	padding: 10px 20px;
	font-size: 48px;
	text-decoration: none;
	color: rgb(0, 140, 255);
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.one::after {
	content: '';
	position: absolute;
	left: 20px;
	bottom: 0;
	width: 80%;
	height: 3px;
	background-color: white;
	transition: transform 0.3s;
	transform: scaleX(0);
	transform-origin: right;
}

.one:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.two::after,
.two::before {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	/* transition: 0.7s; */
	/* background-color: white; */
}

.two::before {
	left: 10px;
	top: 0px;
	border-right: 0 solid #ffff;
	border-bottom: 0 solid #ffff;
}

.two::after {
	left: 105px;
	top: 30px;
	border-left: 0 solid #ffff;
	border-top: 0 solid #ffff;
}

.two:hover::after {
	border-right: 3px solid #ffff;
	border-bottom: 3px solid #ffff;
	width: 50px;
	height: 50%;
}

.two:hover::before {
	border-left: 3px solid #ffff;
	border-top: 3px solid #ffff;
	width: 50px;
	height: 50%;
}

.three::before, .three::after{
	content: '';
	position: absolute;
	width: 0;
	height: 55px;
	border-bottom: 3px solid #ffff;
}

.three::before{
	right: 50%;
}

.three::after{
	left: 50%;
}

.three:hover::before{
	width: 50%;
}

.three:hover::after{
	width: 50%;
}

.four{
	z-index: 1;
}

.four:hover{
	color: blue;
}

.four::after{
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: aqua;
}


.four:hover::after{
	height: 100%;
	z-index: -1;
}